<!DOCTYPE html>
<html ng-app="AyudarEsFacilApp" ng-controller="AppCtrl" class="no-js" lang="es">
    <head>
        <title ng-bind="pageTitle">AyudarEsFacil</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="description" content="">

        <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
        
        <!-- assets -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/plugins/icheck/skins/all.css" rel="stylesheet">
        <link href="assets/plugins/summernote/summernote.min.css" rel="stylesheet">
        <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="assets/css/style.css" rel="stylesheet">
        <link href="assets/css/style-responsive.css" rel="stylesheet">
        <link href="assets/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet">
        <link href="assets/plugins/owl-carousel/owl.theme.min.css" rel="stylesheet">
        <link href="assets/plugins/owl-carousel/owl.transitions.min.css" rel="stylesheet">
    </head>
    <body ng-class="bodyClass">
         <!--
        ===========================================================
        BEGIN PAGE
        ===========================================================
        -->
        <div ui-view></div>
        
        <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>

        <script src="assets/js/app-template.js"></script>
        <script src="assets/js/shrink-main-navigation.js"></script>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/plugins/nicescroll/jquery.nicescroll.js"></script>
        <script src="assets/plugins/summernote/summernote.min.js"></script>
        <script src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>
        <script src="assets/js/apps.js"></script>
    </body>
</html>

