<!DOCTYPE html>
<html ng-app="AyudarEsFacilApp" ng-controller="AppCtrl" class="no-js" lang="es">
    <head>
        <title ng-bind="pageTitle">AyudarEsFacil</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="description" content="">

        <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
        
        <!-- assets -->
        <link href="assets/css/style.css" rel="stylesheet">
        <link href="assets/css/style-responsive.css" rel="stylesheet">
    </head>
    <body>
         <!--
        ===========================================================
        BEGIN PAGE
        ===========================================================
        -->
        <div class="wrapper">
            <!-- BEGIN TOP NAV -->
            <div class="top-navbar">
                <div class="top-navbar-inner">
                    
                    <!-- Begin Logo brand -->
                    <div class="logo-brand">
                        <a href="index.html"><img src="assets/images/sentir-logo-primary.png" alt="Sentir logo"></a>
                    </div><!-- /.logo-brand -->
                    <!-- End Logo brand -->
                    
                    <div class="top-nav-content">
                        
                        <!-- Begin button nav toggle -->
                        <div class="btn-collapse-nav" data-toggle="collapse" data-target="#main-fixed-nav">
                            <i class="fa fa-plus icon-plus"></i>
                        </div><!-- /.btn-collapse-sidebar-right -->
                        <!-- End button nav toggle -->
                        
                        <!-- Begin user session nav -->
                        <ul class="nav-user navbar-right">
                            <li class="dropdown">
                              <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="assets/images/avatar/avatar.jpg" class="avatar img-circle" alt="Avatar">
                                Hi, <strong>Paris Hawker</strong>
                              </a>
                              <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
                                <li><a href="#fakelink">Account setting</a></li>
                                <li><a href="#fakelink">Payment setting</a></li>
                                <li><a href="#fakelink">Change password</a></li>
                                <li><a href="#fakelink">My public profile</a></li>
                                <li class="divider"></li>
                                <li><a href="lock-screen.html">Lock screen</a></li>
                                <li><a href="login.html">Log out</a></li>
                              </ul>
                            </li>
                        </ul>
                        <!-- End user session nav -->
                        <blockquote class="blockquote-reverse" style="margin-top:10px; display: inline-block">
                            <p>Ayudar es ahora mas fácil...</p>
                        </blockquote>
                    </div><!-- /.top-nav-content -->
                </div><!-- /.top-navbar-inner -->
            </div><!-- /.top-navbar -->
            <!-- END TOP NAV -->

            <!-- BEGIN TOP MAIN NAVIGATION -->
            <div class="top-main-navigation">
                <nav class="navbar square navbar-default no-border" role="navigation">
                    <div class="container-fluid">
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="top-main-navigation">
                            <ul class="nav navbar-nav">
                                <li ui-sref-active="active">
                                    <a href ui-sref="home">
                                        <span class="glyphicon glyphicon-home"></span>
                                    </a>
                                </li>

                                <li ui-sref-active="active">
                                    <a href ui-sref="whyHelp">
                                        por que ayudar?
                                    </a>
                                </li>

                                <li ui-sref-active="active">
                                    <a href ui-sref="casos-de-exito">
                                        casos de éxito
                                    </a>
                                </li>
                                
                                <li ui-sref-active="active">
                                    <a href ui-sref="conoce-el-proyecto">
                                        conoce el proyecto
                                    </a>
                                </li>

                                <li ui-sref-active="active">
                                    <a href ui-sref="ayudanos-a-ayudar">
                                        ayúdanos a ayudar
                                    </a>
                                </li>
                            </ul>
                            
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
                <!-- End inverse navbar -->
            </div><!-- /.top-main-navigation -->
            <!-- END TOP MAIN NAVIGATION -->
            
            <!-- BEGIN PAGE CONTENT -->
            <div class="page-content no-left-sidebar">
                <div class="container-fluid" style="margin-top: 50px;">

                    <div ui-view="main"></div>
                
                </div><!-- /.container-fluid -->
                
                <!-- BEGIN FOOTER -->
                <footer>
                    &copy; 2014 <a href="#">AyudarEsFacil.org</a><br />
                    Design by <a href="http://github.com/seperez/ayudaresfacil" target="_blank">3S</a>.
                </footer>
                <!-- END FOOTER -->
                
            </div><!-- /.page-content -->
        </div><!-- /.wrapper -->
        <!-- END PAGE CONTENT -->
        
        <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>

        <script src="assets/js/app-template.js"></script>
        <script src="assets/js/shrink-main-navigation.js"></script>
    </body>
</html>
