*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html

admin/application/logs/*

client/node_modules
client/dist
client/.tmp
client/.sass-cache
client/bower_components
