
<!-- Begin page heading -->
<h1 class="page-heading">Ofrecimientos
	<small>Detalle de la publicación</small>
</h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
	<li>
		<a href="index.html"><i class="fa fa-home"></i></a>
	</li>
	<li class="active">Ofrecimientos</li>
</ol>
<div class="the-box no-border">
	<div class="row">
		<div class="col-md-4">
			<img ng-src="{{offer.image.path}}" style="margin:auto;">
		</div>
		<div class="col-md-8">
			<h2 class="medium-heading more-margin-bottom">{{offer.title}}
				<span class="text-danger pull-right">Ofrecimiento: {{offer.object.description}}</span>
			</h2>  
			<div class="panel panel-default" style="height:170px">
				<div class="panel-body">
					{{offer.description}}
				</div>
			</div>
			<p>
			  <button ng-if="offer.processStateOffer.id == 'V' " type="button" class="btn btn-primary">
  				<span class="glyphicon glyphicon-ok"></span> Pedir !</button>
			  <button ng-if="offer.processStateOffer.id == 'P' " type="button" class="btn btn-danger disabled">
  				<span class="glyphicon glyphicon-ban-circle"></span> Publicación Pausada</button>
			  <button type="button" class="btn btn-default">
  				<span class="glyphicon glyphicon-star"></span> Poner en Favoritos!</button>
			</p>
		</div>
	</div>
</div>
</div><!-- /.the-box no-border -->