<div class="the-box full-width full">
    <div class="row">
        <div class="col-sm-8 col-md-9 col-full-width-right">
            <div class="blog-detail-image">
                <img src="images/photo/large/dash.jpg" class="img-blog" alt="Blog image">
                <div class="blog-title">
                    <h1 style="line-height:400px;">Como quieres comenzar?</h1>
                </div><!-- /.blog-title -->
            </div><!-- /.blog-detail-image -->
        </div>
        
        <div class="col-sm-4 col-md-3 col-full-width-left">
            <div class="the-box bg-primary no-border text-right no-margin more-padding">
                <h4>MOST POPULAR</h4>
                <h2><a href="">ayudaresfacil.org es una plataforma que permite a la comunidad hacer donaciones y ofrecimientos de una manera fácil e intuitiva.</a></h2>
            </div>

            <div class="the-box bg-warning no-border no-margin text-center more-padding">
                <h4>Autores Destacados</h4><br />
                <div class="row">
                    <div class="col-xs-4">
                        <p><a href="#fakelink" data-toggle="tooltip" title="Sebastián Pérez">
                            <img src="images/photo/small/profile_sebastian.jpg" class="img-responsive img-circle" alt="Avatar">
                        </a></p>
                    </div>
                    <div class="col-xs-4">
                        <p><a href="#fakelink" data-toggle="tooltip" title="Sabrina Casado">
                            <img src="images/photo/small/profile_sabrina.jpg" class="img-responsive img-circle" alt="Avatar">
                        </a></p>
                    </div>
                    <div class="col-xs-4">
                        <p><a href="#fakelink" data-toggle="tooltip" title="Sergio Areco">
                            <img src="images/photo/small/profile_sergio.jpg" class="img-responsive img-circle" alt="Avatar">
                        </a></p>
                    </div>
                </div>
                <button class="btn btn-success btn-block">Ayudanos a crecer</button>
            </div>
        </div>
    </div>
</div><!-- /.the-box full-width -->