<!-- BEGIN USER APPS INBOX -->
<div class="mail-apps-wrap">
	<div class="the-box bg-info no-border no-margin heading">
	    <div class="row">
	    	<h1><i class="fa fa-user icon-lg icon-circle icon-bordered"></i> Mis Datos</h1>
	    </div><!-- /.row -->
	</div><!-- the-box -->
	
	<div class="row">&nbsp;</div>

	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<!-- Begin basic form elements -->
			<div class="the-box">
				<h2>Datos Personales</h2>
					<form role = "form">
						<div class="form-group">
							<label>Correo Electronico</label>
							<input type="text" ng-model="user.email" class="form-control" placeholder="Correo Electronico">
						</div>
						<div class="form-group">
							<label>Nombre</label>
							<input type="text" ng-model="user.name" class="form-control" placeholder="Nombre">
						</div>
						<div class="form-group">
							<label>Apellido</label>
							<input type="text" ng-model="user.lastname" class="form-control" placeholder="Apellido">
						</div>
						<div class="form-group">
							<label>Fecha de nacimiento</label>
							<div class="row">
								<div class="col-xs-3">
									<div style="display:inline-block;">
										<datepicker ng-model="datepicker" min-date="minDate" show-weeks="false" class="well well-sm"></datepicker>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label>Donde podemos encontrarte?</label><p class="help-block"><small><strong>Atención: </strong>Cuando hagas un pedido, o quieras donar algo, esta información será súper importante!</small></p>
						</div>
						<div class="form-group">	
							<div class="row">
								<div class="col-xs-1">
									<label class="hidden-xs">Provincia</label>
								</div>
								<div class="col-xs-11" class="hidden-xs">
									<select class="form-control">
										<option value="">Provincia</option>
										<option value="01">Capital Federal</option>
										<option value="02">Buenos Aires</option>
										<option value="03">Córdoba</option>
										<option value="04">Santa Fe</option>
										<option value="05">San Juan</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-xs-1">
									<label class="hidden-xs">Localidad</label>
								</div>
								<div class="col-xs-11">
									<select class="form-control">
										<option value="">Localidad</option>
										<option value="01">Isidro Casanova</option>
										<option value="02">San Justo</option>
										<option value="03">Tapiales</option>
										<option value="04">Ciudadela</option>
										<option value="05">Laferre</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-xs-1">
									<label class="hidden-xs">Calle</label>
								</div>
								<div class="col-xs-11">
									<input type="text" class="form-control input-sm" placeholder="Calle">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-1 col-xs-1">
										<label class="hidden-xs">Número</label>
								</div>
								<div class="col-sm-2 col-xs-11">
									<input type="text" class="form-control input-sm" placeholder="Nro"/>
								</div>
								<div class="col-sm-1 col-xs-1">
									<label class="hidden-xs">Piso</label>
								</div>
								<div class="col-sm-2 col-xs-11">
									<input type="text" class="form-control input-sm" placeholder="Piso"/>
								</div>
								<div class="col-sm-1 col-xs-1">
									<label class="hidden-xs">Dpto.</label>
								</div>
								<div class="col-sm-2 col-xs-11">
									<input type="text" class="form-control input-sm" placeholder="Dpto"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label>Cómo nos podemos comunicar con vos?</label>
							<div class="row">
								<div class="col-xs-2">
									<input type="text" class="form-control" placeholder="Cod. Area">
									<p class="help-block"><small>Si estas en BS AS es 011</small></p>
								</div>
								<div class="col-xs-5">
									<input type="text" class="form-control" placeholder="Nro. Telefono">
								</div>
								<div class="col-xs-4">
									<select class="form-control">
										<option value="1">Celular</option>
										<option value="2">Particular</option>
										<option value="3">Laboral</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label>Cuéntanos como sos...</label>
							<textarea class="form-control no-resize" placeholder="Tu espacio..."></textarea>
							<p class="help-block">Puedes expresar lo que quieras, es tu espacio :)</p>
						</div>

						<button ng-click="add()" class="btn btn-success btn-block btn-lg" type="submit"><i class="glyphicon glyphicon-ok"></i> Guardar Mis Datos</button>
					
					</form>
			</div><!-- /.the-box -->
			<!-- End basic form elements -->
		</div><!-- /.col-sm-10 -->
		<div class="col-sm-1"></div>
	</div><!-- /.row -->
    <div class="the-box toolbar no-border no-margin">
        <div class="btn-toolbar" role="toolbar">

            <!-- /.btn-group .pull-right -->
        </div>
        <!-- /.btn-toolbar -->
    </div>
    <!-- /.the-box -->
</div><!-- /.user-apps-wrap -->